selenoid.server.url=https://%s:%s@selenoid.autotests.cloud/wd/hub
username=
password=
video.storage=https://selenoid.autotests.cloud/video/
device.name=android
platform.name=Android
version=8.1
app.url=https://github.com/wikimedia/apps-android-wikipedia/releases/download/latest/app-alpha-universal-release.apk